@font-face {
    font-family: Orbitron;
    src: url(Orbitron-VariableFont_wght.ttf);
}
*{
	padding: 0;
	margin: 0;
}
ul{
	height: 75px;
	width: auto;
	display: flex;
	justify-content: center;
	padding: 20px 10%;
}
.font{
	font-family: "Orbitron";
	font-size: 25px;
	color: grey;
	text-decoration: none;
}
li{
	display: inline-block;
	padding: 0px 120px;
	margin-top: 10px;
}
li a:hover{
   color: white;
}
@media screen and (min-width: 1001px)
{ 
.spate{
	background: url('porsche4.jpg');
	animation: animatie 9s linear infinite;
	background-size: cover;
}
@keyframes animatie{
	0%,100%{
		background-image: url('porsche1.jpg');
	}
	33%{
		background-image: url('porsche2.jpg');
	}
    66%{
    	background-image: url('porsche3.jpg');
    }
}
}
.spatiu
{
	width: 400px;
}
.linies{
	background-color: grey;
	width: 600px;
	height: 2px;

}
.linied{
	margin-top: 0px;
	background-color: grey;
	width: 600px;
	height: 2px;

}
.aliniat{
	display: flex;
  justify-content: center;
  margin-top: -20px;
}
@media screen and (max-width: 1000px) 
{
	li{
		display: inline-block;
		padding: 0px 30px;
		margin-top: 10px;
	}
	.spatiu{
			width: 200px;
	}
	.spate{
		visibility: visible;
		background: url("porsche-911-922-carrera-cabriolet-1440x2560-2020-cars-5k-22016.jpeg");
	}
	.linies{
		background-color: grey;
		width: 300px;
		height: 2px;
	
	}
	.linied{
		margin-top: 0px;
		background-color: grey;
		width: 300px;
		height: 2px;
	
	}
	.spatiuu{
		height: 30px;
	}
}
