@font-face {
    font-family: Orbitron;
    src: url(Orbitron-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #0b0b0b;
    position: relative;
}
ul{
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 20px 10%;
}
.titlu{

    font-size: 40px;
    font-family: "Orbitron";
    color: white;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.font{
    font-family: "Orbitron";
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.font1{
    font-family: "Times New Roman", Times, serif;
}
li{
    display: inline-block;
    padding: 0px 120px;
    margin-top: 10px;
}
li a:hover{
   color: grey;
}
.aliniat{
	display: flex;
  justify-content: center;
  margin-top: -20px;
}
.linies{
    background-color: white;
    width: 600px;
    height: 2px;
}
.linied{
    background-color: white;
    width: 600px;
    height: 2px;

}
.spatiu
{
	width: 400px;
}
.stire1{
    height: 450px;
    width: auto;
    margin-right: 30px;
}
.stire2{
    height: 450px;
    width: auto;
}
.stire3{
    height: 210px;
    width: auto;
    margin-top: 50px;
    margin-right: 40px;
}
.stire4{
    height: 210px;
    width: auto;
    margin-right: 20px;
}
.stire5{
    margin-left: 20px;
    height: 210px;
    width:  340px;
}
.t1{
    font-family: "Orbitron";
    font-size: 25px;
    position: absolute;
    color: white;
}
.t2{
    font-family: "Orbitron";
    font-size: 17px;
    position: absolute;
    color: white;
}

@media screen and (min-width: 1000px){
.rand2{
    text-align: center;
    margin-top: -30px;
}
.rand1{
    text-align: center;
} 
}
@media screen and (max-width: 1000px)  
{
    li{
		display: inline-block;
		padding: 0px 30px;
		margin-top: 10px;
	}
	.spatiu{
			width: 200px;
	}
	.linies{
		background-color: grey;
		width: 300px;
		height: 2px;

	}
	.linied{
		margin-top: 0px;
		background-color: grey;
		width: 300px;
		height: 2px;
	
	}
	.spatiuu{
		height: 30px;
	}
    .stire1{
        margin-bottom: 50px;
    }
    .stire2{
        left: 10%;
    }
    .poza1{
        margin-left: 10%;
    }
    .poza2{
        margin-left: 10%;
    }
    .poza3{
        float: right;
        margin-right: 5%;
        margin-top: -54%;
    }
    .poza4{
        float: right;
        margin-right: 7%;
        margin-top: -22%;
    }
    .poza5{
        margin-left: 8%;
    }
    .stire5{
        width: 800px;
        height: auto;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .stire2{
        height: 480px;
    }
}
